@model string

@{
    ViewBag.Title = "Index";
}
<br />
<h3>Defult Home Page</h3>
<p class="firstConternt">
    My name is <i>Laya Salarbezadi</i>. This web site is my final project in the <b>IS445</b> class. 
    This web site has many different pages and each page
    is the same as one of the homeworks we had been assigned during this semester. <b>IS445</b> was much harder than
    I ever imagined and much harder than <b>C#</b> class I had last semester. Nevertheless I beleived I have learnt
    a lot in this course and no matter what my grade is going to be I believe the knowledge I earend from
    this class will help me in my future and the job I will seek in the future.
</p>


<br />
<br />

