@model string

@{
    ViewBag.Title = "Index";
}
    <h2>Welcome to my home page</h2>
    <h3>Please click a link to visit my other pages.</h3>
   <footer>
       <p> Laya Salarbehzadi &copy;</p>
       <address>
           <p><a href="mailto:layasb@yahoo.com">Email: layasb@yahoo.com</a></p>
           <p>Phone: (310)800-4369</p>
       </address>
   </footer>
