@model string

@{
    ViewBag.Title = "Index";
}
<br />
<h3>Defult Home Page</h3>
<p class="firstConternt">
    My name is Laya Salarbezadi. This web site is my final project in the IS445 class. This web site has many different pages and each page
    is the same as one of the homeworks we had been assigned during this semester. IS 445 was much harder than
    I ever imagined and much harder than C# class I had last semester. Nevertheless I beleived I have learnt
    a lot in this course and no matter what my grade is going to be I believe the knowledge I earend from
    this class will help me in my future and the job I will seek in the future.
</p>


<br />
<br />

