@model string


@{
    ViewBag.Title = "Task3";
}


<br />

@using (Html.BeginForm("FormatPhoneNumber", "Home"))
{
    <label for="inputNumber">Please input a phone number: </label>
    <input type="text" name="inputNumber" pattern="[0-9]{10}" title="Please enter your 10 digit ohone number" maxlength="10" id="inputNumber" value="" />
    <input type="submit" name="submit" value="submit" />

}

<br />
<br />
