@model string

@{
    ViewBag.Title = "WebForm";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebForm</title>
</head>
<body>
    <header>
        <h1>Salarbehzadi, Laya Homework 7</h1>
        <hr />
        <nav>
            <a>@Html.ActionLink("Home", "Index")</a>
            <a>@Html.ActionLink("Web Form Demo", "WebForm")</a>
            <a>@Html.ActionLink("About Me", "AboutMe")</a>
        </nav>
    </header>
    <h2>Welcome to my Web Form</h2>
    <h3>A demo form for hotel room reservation</h3>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Customer Information</legend>
        <label>Full name: <input type="text" name="name" id="info_name" placeholder="FirstName LastName" required="required" /></label>
        <br />
        <label>Email: <input type="email" name="email" id="info_email" required="required" /></label>
        <br />
        <label>Phone: <input type="tel" name="phone" id="info_phone" required="required" /></label>
        <br />
    </fieldset>
    <fieldset>
<legend>Room Information</legend>
<label>Arrival date: <input type="date" name=" arivaldate" id="arrive_date" required="required" /></label>
<br />
    <label>Arrival time: <input type="time" name="arivaltime" id="arrive_time" required="required"/></label>
    <br />
    
    <label>Select a room type</label>
    <select name="roomType">
        
        <option value="standard">Standard</option>
        <option value="economic">Economic</option>
        <option value="Luxury" selected="selected">Luxury</option>
    </select>
    
    <br />
    <label>Number of nights: <input type="number" min="1" max="30" step="1" value="1" required="required" /></label>
    
    
   
    <br />
    
    <label>Number of guests:  <input type="number" min="0" max="3" step="1" value="0" required="required" /></label>
   
</fieldset>
        <fieldset>
            <legend>Other Information</legend>
            <label>Promo Code:</label>
            <input type="text" name="promoCode" pattern="[A-Za-z0-9]{4}"
                title="No special characters!!!" id="prom-code" maxlength="4" /><br />
            <label>Special Notes</label>
            <textarea name="comments" cols="40" rows="4" placeholder="Enter your special notes here"></textarea>
        </fieldset>
        <input type="reset" name="reset" value="Clear Form" />
        <input type="submit" name="submit" value="Request Reservation" />
        
    <br />
}

    <footer>
        <p> Laya Salarbehzadi &copy;</p>
        <address>
            <p><a href="mailto:layasb@yahoo.com">Email: layasb@yahoo.com</a></p>
            <p>Phone: (310)800-4369</p>
        </address>
    </footer>
</body>
</html>
